body{
    font-family: "Helvetica", "Lucida Grande", sans-serif;
    color: #3D3D3D;
}

h1{
    background-color: #E1EDF2;
    margin: 10px;
    width: 940px;
}

h2{
    border-bottom: 2px solid black;
}

figure{
    text-align: center;
    margin: 15px;
    background-color: whitesmoke;
    border: 1px solid lightgrey;
}

p{
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    width: 940px;   
}